body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-family: 'Shippori Mincho';
}

/* メインページ　*/
.header-main {
  height: 100vh;
  background-image: url(files/images/background_image_20251021.jpg);
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
  background-attachment: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  overflow: hidden;
}

.nav-main {
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: absolute;
  width: 100%;
  color: white;
}

.logo-main {
  color: inherit;
  text-decoration: none;
  font-size: 38px !important;
}

.nav-main ul {
  display: flex;
  gap: 32px;
  list-style: none;
  flex-direction: column;
  text-align: left;
  line-height: 0.8;
}

.nav-main a {
  color: inherit;
  text-decoration: none;
  font-size: 25px;
  font-weight: 500;
}

.nav-main a:hover {
  color: rgb(170, 60, 60)
}

.footer-main {
  text-align: center;
  font-size: 12px;
  color: white;
  padding: 20px 0;
  position: absolute;
  bottom: 0;
  padding: 0px 0;
}


/* ----------------------------------------------------
   ① スマホ（〜480px）
---------------------------------------------------- */
@media (max-width: 375px) {

  /* ナビ（メインページ） */
  .nav-main {
    flex-direction: column;
    align-items: center;
  }

  .nav-main ul {
    flex-direction: column;
    text-align: center;
  }

  .logo-main {
    font-size: 28px !important;
  }

  .nav-main a {
    font-size: 20px;
  }

/* ----------------------------------------------------
   ② 小さめタブレット（481px〜768px）
---------------------------------------------------- */
@media (max-width: 768px) {

  /* メインページナビ */
  .nav-main {
    justify-content: space-around;
    padding: 0 20px;
  }

  .nav-main ul {
    gap: 20px;
  }

  .logo-main {
    font-size: 32px !important;
  }

  .nav-main a {
    font-size: 22px;
  }

/* ----------------------------------------------------
   ③ 横幅が狭いPC（769px〜1024px）
---------------------------------------------------- */
@media (max-width: 1024px) {

  .nav-main {
    padding: 0 30px;
  }

  .nav-main a {
    font-size: 23px;
  }